.colourChoiceButtons{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 220px;
    margin-top: 120px;
    gap: 15px;
    border: black inset 2px;
    width: 50px;
}

.gameButtons{
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}