.gamePage{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.navigationBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
}

.choiceBox{
    display: flex;
    justify-content: center;
    border: black inset 2px;
    width: 50px;
    font-size: 16px;
    margin-top: 128px;
    margin-right: -15px;
}

.boxes{
    width: 25px;
    height: 56px;
    border: black inset 2px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 28px;
}

.guessBox{
    margin-bottom: 10px;
    width: 25px;
    height: 56px;
    border: black inset 2px;
    font-size: 16px;
}

.picture{
    position: relative;
    left: 100px;
    z-index: -1;
}

hr{
    width: 244px;
    border-width: 2px;
    margin-left: 2px;
    color: #000000;
}

.passedGuesses-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.hintBox{
    align-items: center;
    width: 25px;
    height: 39px;
    border: black inset 2px;
    margin-bottom: 8px;
    margin-left: 30px;
    padding-top: 12px;
}

.hints-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.guess-hint-wrapper {
    display: flex;
}

.answer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkButton{
    border: black inset 2px;
    border-radius: 12%;
    background-color: rgba(220, 145, 42, 0.6);
    color: white;
    font-size: 0.8em;
    padding: 8px;
    margin-top: 9px;
    margin-left: 22px;
}