.gamePage{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.navigationBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
}

.choiceBox{
    display: flex;
    justify-content: center;
    border: black inset 2px;
    width: 50px;
    font-size: 16px;
    margin-top: 150px;
}

.boxes{
    display: flex;
    justify-content: center;
    width: 25px;
    height: 56px;
    border: black inset 2px;
    font-size: 16px;
}

.guessBox{
    width: 25px;
    height: 56px;
    border: black inset 2px;
    font-size: 16px;
}
.passedGuesses-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.hintBox{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 38px;
    border: black inset 2px;
    margin-top: 13px;
}
.hints-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
}
.guess-hint-wrapper {
    display: flex;
}

.answer{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.checkButton{
    display: flex;
    justify-items: center;
    width: 55px;
    height: 28px;
    border: black inset 2px;
    border-radius: 12%;
    margin-top: 30px;
    background-color: #440044;
    font-size: 13px;
    color: white;
}